* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#workarea {
   height: 100vh;
   display: flex;
   background-color: hsla(0, 0%, 96%, 1);
}

/* Artboard */
#artboard {
    aspect-ratio: 1 / 1;
    margin: 2rem auto;
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: 0 6px 8px hsla(0, 0%, 20%, 0.15);
    border: 1px solid hsla(0, 0%, 70%, 1);

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cell {
    aspect-ratio: 1 / 1;
    border: 1px solid hsla(0, 0%, 95%, 1);
    width: 2rem;
}

/* toolbar */

#toolbar {
    flex: 1 1 auto;
    max-width: 40vw;
    /* min-width: 40vh; */
    background-color: hsla(0, 0%, 100%, 1);
    box-shadow: -2px 0 8px hsla(0, 0%, 20%, 0.15);
}